.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
}

.breadcrumb-item a {
  text-decoration: none;
}

.btn-secondary {
  margin-right: 20px;
}
  